
body {
    padding: 30px;
    line-height: 30px;
}

.case {
    margin: 20px;
}

.editable {
    line-height: 30px;
}

* {
    box-sizing: border-box;
    box-shadow: 0 0 2px hsl(0, 0%, 85%);
}

input {
    width: 100%;
    line-height: 30px;
    min-height: 80px;
}

textarea {
    width: 100%;
    min-height: 80%;
    line-height: 30px;
}
